################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Microsoft.ML.Models.BERT/obj
/Microsoft.ML.Models.BERT/bin/Debug/netstandard2.0
/.vs/ML.BERT.TestApp
